.meBlob {
}

.projectsBlob {
  padding-top: 10%;
  transform: rotate(20deg);
}

.certificateBlob {
  padding-left: 30%;
  transform: rotate(20deg);
}

.gitHubBlob {
  transform: rotate(40deg);
  padding-bottom: 10%;
}
